@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  overflow-x: hidden;
  background-color: #111827;
}

/* Ensure the menu is properly aligned and responsive */
@media (min-width: 768px) {
  .md\:hidden {
    display: none;
  }

  .md\:flex {
    display: flex;
  }
}

.menu-open {
  display: block;
}

/* Additional styling for the profile component */
.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-pic {
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #22c55e;
  width: 6rem;
  height: 6rem;
}

.recent-activity {
  margin-top: 2rem;
}

.activity-item {
  background-color: #374151;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.arrow-animation {
  transition: all 0.2s ease-in-out;
}

.group:hover .arrow-animation {
  transform: rotate(-45deg) scale(1.1);
}

/* Custom hover effects for AuthButtons */
.auth-buttons:hover .login-button:hover + .register-button {
  background-color: #86efac; /* Tailwind color green-400 */
  color: #86efac;

}

.auth-buttons:hover .register-button:hover + .login-button {
  background-color: white;
  color: #4ade80; /* Tailwind color green-400 */
}

.custom-switch {
  background-color: #4a4a4a !important; /* Default dark gray color */
}
.custom-switch .ant-switch-checked {
  background-color: green !important;
}
.custom-switch-red .ant-switch-checked {
  background-color: red !important;
}
.custom-switch-green .ant-switch-checked {
  background-color: green !important;
}

